.searchbox {
    display: flex;
    border: 1px solid black;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    border-color: #babac4;
}
.search {
    flex:1;
    border: 0;
    font-size: 1.3rem;
    font-weight: 500;
    width: 200px;
    padding-left: 10px;
}
.search:focus {
    outline: none;
}


.searchicon {
    padding-left: 15px;
}